/MacOSX10.1.5.sdk
/MacOSX10.10.sdk/
/MacOSX10.11.sdk/
/MacOSX10.12.sdk/
/MacOSX10.13.sdk/
/MacOSX10.14.sdk/
/MacOSX10.15.sdk/
/MacOSX10.2.8.sdk/
/MacOSX10.3.9.sdk/
/MacOSX10.4u.sdk/
/MacOSX10.5.sdk/
/MacOSX10.6.sdk/
/MacOSX10.7.sdk/
/MacOSX10.8.sdk/
/MacOSX10.9.sdk/
/MacOSX11.3.sdk/
/MacOSX12.3.sdk/
/MacOSX13.3.sdk/
